<!DOCTYPE html>
<html>
<head>
<title>Add Product</title>
</head>
<body>
<h2>Enter Product Details </h2>
<form action="/new" method="POST">
  <p>
  <label for="ProductId">Product Id     : 
    </label><input type="text" name="ProductId"/> <br>
  <label for="ProductName">Product Name   : 
    </label><input type="text" name="ProductName"/> <br>
  <label for="ProductPrice">Product Price : 
    </label><input type="number" name="ProductPrice"/> <br>
  <input type="submit"/>
  </p>
</form>
</body>