<!DOCTYPE html>
<html>
	<head>
		<title>Mongo DB CRUD Operations </title>
	</head>
	<body>
		<h2>CRUD operations using Node & Mongo DB </h2>
		<a href="/add">Add a Product</ahref> <br>
		<a href="/view/:id">View a Product</ahref> <br>
		<a href="/viewall">View All Products</ahref> <br>
	</body>
</html>